<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~/log4net.xml" />
      </factoryAdapter>
    </logging>
  </common>
  <appSettings>
    <!--Ap1="SimpleServer1" 6107(ListenPort):200(maxAccept):1(XmlNode attr id='1'):5000(SendTimeout):5000(ReceiveTimeout)-->
    <add key="SimpleServer1" value="6107:200:1:5000:5000" />
    <add key="SimpleServer2" value="6108:200:2:5000:5000"/>
    <!--<add key="SimpleServer3" value="6109:200:3:5000:5000" />-->
    <!--<add key="SimpleServer4" value="6110:200:4:5000:5000"/>-->
    <!--<add key="SimpleServer5" value="6111:200:5:5000:5000" />
    <add key="SimpleServer6" value="6112:200:6:5000:5000"/>-->
    <!--<add key="SimpleServer7" value="6113:200:7:5000:5000" />-->
    <!--<add key="SimpleServer8" value="6114:200:8:5000:5000"/>
    <add key="SimpleServer9" value="6115:200:9:5000:5000" />-->
    <!--<add key="SimpleServer10" value="6116:200:10:5000:5000"/>-->
    <!--<add key="SimpleServer11" value="6117:200:11:5000:5000" />-->
    <!--<add key="SimpleServer12" value="6118:200:12:5000:5000"/>-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="AF08829B84F0328E" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>-->
    </assemblyBinding>
  </runtime>
</configuration>
